/* ======================
    For Mobile Devices
====================== */

@media screen and (max-width: 767px) {

    img {
        width: 100%;
    }
    .container {
        width: 90%;
        padding: 0 5%;
    }

    .navbar .container {
        flex-direction: column;
        row-gap: 62px;
    }

    .navbar .menu {
        flex-direction: column;
        row-gap: 62px;
    }

    .navbar .menu ul {
        flex-direction: column;
        row-gap: 36px;
    }

    .banner {
        position: inherit;
    }

    .banner .container {
        flex-direction: column-reverse;
        
    }

    .banner .banner-cont {
        position: relative;
        padding: 130px 0;
    }

    .banner .banner-cont img {
        max-width: 100%;
    }

    .about > .container {
        flex-direction: column;
    }

    .about-image img {
        width: 100%;
    }

    .about-cont {
        text-align: center;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .about > .container {
        flex-direction: column;
    }

    .about-image img {
        width: 100%;
    }

    .about-cont {
        text-align: center;
    }

    
}