/* ======================
    For Mobile Devices
====================== */

@media screen and (max-width: 767px) {

    img {
        width: 100%;
    }
    .container {
        width: 90%;
        padding: 0 5%;
    }

    .navbar .container {
        flex-direction: column;
        row-gap: 62px;
    }

    .navbar .menu {
        flex-direction: column;
        row-gap: 62px;
    }

    .navbar .menu ul {
        flex-direction: column;
        row-gap: 36px;
    }

    .banner {
        position: inherit;
    }

    .banner .container {
        flex-direction: column-reverse;
        
    }

    .banner .banner-cont {
        position: relative;
        padding: 130px 0;
    }

    .banner .banner-cont img {
        max-width: 100%;
    }

    .about > .container, 
    .feature .container {
        flex-direction: column;
    }

    .about-image img {
        width: 100%;
    }

    .about-cont {
        text-align: center;
    }

    .fvideo-wrap {
        grid-template-columns: 1fr;
    }

    .feature .feature-img {
        padding-top: 70px;
    }

    .feature .feature-img img {
        width: auto;
    }

    .feature .feature-img img.large-image {
        width: 80%;
        text-align: right;
        float: right;
    }

    .feature .feature-img img.small-img {
        width: 40%;
        margin-top: 0px;
        margin-left: 0;    
    }
    
    .career {
        padding: 150px 0;
    }

    .career .container {
        grid-template-columns: 1fr;
    }
    .career .career-cont {
        padding: 0;
    }
    .career .career-list-wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .career .career-img img {
        width: 100%;
        margin: 0;
        padding-top: 120px;
    }

    .games .games-item-wrap {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
        column-gap: 20px;
    }

    .footer .footer-menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
    }

    .footer-bottom ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }

    .footer-bottom {
        padding-top: 65px;
    }

    .footer-bottom p span {
        display: block;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .about > .container {
        flex-direction: column;
    }

    .about-image img {
        width: 100%;
    }

    .about-cont {
        text-align: center;
    }

    .fvideo-wrap {
        grid-template-columns: 1fr;
    }
}